<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="Currency short name">
    <th mat-header-cell *matHeaderCellDef> Currency short name </th>
    <td mat-cell *matCellDef="let currency"> {{currency.currency}} </td>
  </ng-container>

  <ng-container matColumnDef="Description in Lithuanian">
    <th mat-header-cell *matHeaderCellDef> Description in Lithuanian </th>
    <td mat-cell *matCellDef="let currency"> {{currency.descriptionLt}} </td>
  </ng-container>

  <ng-container matColumnDef="Description in English">
    <th mat-header-cell *matHeaderCellDef> Description in English </th>
    <td mat-cell *matCellDef="let currency"> {{currency.descriptionEn}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
