<mat-accordion>
  <mat-expansion-panel class="scrollingData" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title> Check all available currencies </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="content">
      <div class="headerDescription">
        <span>Name</span>
        <span>Description in Lt</span>
        <span>Description in En</span>
    </div>
    <div class="currencyWrapper" *ngFor="let currency of dataSource">
      <div class="currencyName">{{currency?.currency}}</div>
      <div class="currencyDescriptionLt">{{currency?.descriptionLt}}</div>
      <div class="currencyDescriptionEn">{{currency?.descriptionEn}}</div>
    </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
