.header{
  height: 200;
  padding: 10px 10px;
  margin-bottom: 25px;
  display: inline-block;
  vertical-align: middle;
  background-color: #565656e7;
}
.date-picker{
  display:inline-flex;
  vertical-align: middle;
}

mat-form-field {
  display: block;
}
.description-message{
  overflow: hidden;
  text-align: left;
  vertical-align: middle;
  inline-size: 200px;
  color: white;
}

button {
  width: 100%;
}
