.header {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.header h1 {
  margin-right: 35%;
  padding: 10px;
}


app-currency {
  width: 50%;
  height: 100%;
}

.exchangeRates {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

mat-card-title {
  text-align: justify;
  color: azure;
}

mat-card-content {
  color: azure;
}

.rateChangePositive {
  color: green;
}

.rateChangeNegative {
  color: red;
}
