.header {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.header h1 {
  margin-right: 35%;
  padding: 10px;
}

app-currency {
  width: 50%;
  height: 100%;
}
mat-card {
  background-color: #565656;
}

.result-card {
  margin-top: 20px;
}

mat-card-title {
  text-align: start;
  color: #c5c5c5;
}
mat-card-subtitle {
  margin-bottom: 12px;
  margin-top: 6px;
  color: rgb(248, 158, 158);
}

mat-card-content {
  color: #c5c5c5;
  margin-top: 12px;
}
